@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

@layer base {
  :root {
    --background: 234 17% 98%;
    --background-secondary: 234 17% 99%;
    --foreground: 220 14.3% 15.9%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 234 17% 99%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 238 50% 60%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 93.9%;
    --muted-foreground: 220 14.3% 30.9%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 40.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 234 17% 86%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 92.1%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 234 17% 10%;
    --background-secondary: 234 17% 12%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 234 17% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 238 50% 56%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 234 17% 17%;
    --secondary-foreground: 0 0% 98%;
    --muted: 234 17% 24%;
    --muted-foreground: 237 9% 72%;
    --accent: 234 17% 18%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 55.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 234 17% 20%;
    --input: 234 17% 23%;
    --ring: 234 17% 18%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-foreground;
  }

  .heading {
    @apply text-3xl  font-semibold leading-tight tracking-tighter sm:text-5xl lg:leading-[1.1];
  }
  .subheading {
    @apply text-4xl font-semibold tracking-tight;
  }

  .horizontal-gradient {
    @apply bg-gradient-to-r dark:from-gray-50 dark:via-gray-200 dark:to-white from-gray-900 via-gray-500 to-gray-900 bg-clip-text text-transparent;
  }

  .vertical-gradient {
    @apply bg-gradient-to-t dark:from-white dark:via-gray-200 dark:to-white from-gray-900 via-gray-600 to-gray-900 bg-clip-text text-transparent;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }
  .flex-gap {
    @apply flex gap-2 items-center;
  }
  .flex-gap-sm {
    @apply flex gap-1 items-center flex-wrap;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .glassmorphism {
    @apply shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.1)] bg-[hsl(var(--background-secondary))]/50 backdrop-blur-sm dark:shadow-[inset_10px_-50px_94px_0_rgb(0,0,0,0.4)];
  }

  .hero-border-animation {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-border-animation::before {
    content: '';
    background-image: conic-gradient(
      transparent 340deg,
      hsl(var(--primary)) 360deg
    );
    width: 250%;
    height: 250%;
    position: absolute;
    animation: rotate 4.5s linear infinite;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .glowing-marble {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: inset 0 0 50px #fff, inset 20px 0 80px #f0f,
      inset -20px 0 80px #0ff, inset 20px 0 300px #f0f, inset -20px 0 300px #0ff,
      0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff;
    animation: load 6s infinite ease-in-out;
  }

  @keyframes load {
    0% {
      transform: rotate(0);
      filter: hue-rotate(0deg);
    }
    50% {
      filter: rotate(180deg);
      filter: hue-rotate(60deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
