@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

@layer base {
  :root {
    --background: 234 17% 98%;
    --background-secondary: 234 17% 99%;
    --foreground: 220 14.3% 15.9%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 234 17% 99%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 238 50% 60%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 93.9%;
    --muted-foreground: 220 14.3% 35.9%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 234 17% 93%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 234 17% 10%;
    --background-secondary: 234 17% 12%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 234 17% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 238 50% 56%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 234 17% 17%;
    --secondary-foreground: 0 0% 98%;
    --muted: 234 17% 24%;
    --muted-foreground: 237 9% 65%;
    --accent: 234 17% 18%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 55.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 234 17% 18%;
    --input: 234 17% 23%;
    --ring: 234 17% 18%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .heading {
    @apply text-3xl font-semibold leading-tight tracking-tighter md:text-5xl lg:leading-[1.1];
  }
  .subheading {
    @apply text-4xl font-bold tracking-tight;
  }

  .horizontal-gradient {
    @apply bg-gradient-to-r dark:from-gray-50 dark:via-gray-200 dark:to-gray-300 from-gray-800 via-gray-500 to-gray-800 bg-clip-text text-transparent;
  }

  .vertical-gradient {
    @apply bg-gradient-to-t dark:from-white dark:via-gray-200 dark:to-white from-gray-800 via-gray-500 to-gray-800 bg-clip-text text-transparent;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }
  .flex-gap {
    @apply flex gap-2 items-center;
  }
  .flex-gap-sm {
    @apply flex gap-1 items-center flex-wrap;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .glassmorphism {
    @apply border shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.1)] bg-[hsl(var(--background-secondary))]/50 backdrop-blur-sm dark:shadow-[inset_10px_-50px_94px_0_rgb(0,0,0,0.4)];
  }
}
