@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 0, 0%, 12%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 40.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 18%;
    --input: 0 0% 20%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  .heading {
    @apply text-3xl font-bold leading-tight tracking-tighter md:text-5xl lg:leading-[1.1] text-slate-900;
  }
  .subheading {
    @apply text-4xl font-bold tracking-tight text-slate-900;
  }

  body {
    @apply bg-background text-foreground;
  }
  .purple-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-b from-[#FF1CF7] to-[#b249f8];
  }

  .blue-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-tr from-[#5EA2EF] to-[#0072F5];
  }

  .green-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-t from-emerald-400 to-emerald-500;
  }

  .orange-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-b from-[#FF705B] to-[#FFB457];
  }
  .input-transparent {
    @apply border-none bg-transparent focus-visible:ring-0 focus-visible:ring-opacity-0 focus-visible:ring-offset-0;
  }
  .flex-between {
    @apply flex justify-between items-center;
  }
  .flex-gap {
    @apply flex gap-2 items-center;
  }
  .flex-gap-sm {
    @apply flex gap-1 items-center flex-wrap;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
}
