@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.heading{
  @apply tracking-tight inline font-semibold text-4xl lg:text-6xl;
}

.description{
  @apply w-full my-2 text-lg font-normal text-default-500 block max-w-full;
}

.text{
  @apply font-normal text-base text-default-500;
}

.purple-gradient{
  @apply bg-clip-text text-transparent bg-gradient-to-b from-[#FF1CF7] to-[#b249f8];
}

.blue-gradient{
  @apply bg-clip-text text-transparent bg-gradient-to-b from-[#5EA2EF] to-[#0072F5];
}

.green-gradient{
  @apply bg-clip-text text-transparent bg-gradient-to-b from-[#6FEE8D] to-[#17c964];
}

.orange-gradient{
  @apply bg-clip-text text-transparent bg-gradient-to-b from-[#FF705B] to-[#FFB457];
}

.flex-between{
  @apply flex justify-between items-center;
}

.flex-gap{
  @apply flex gap-2 items-center;
}

.flex-gap-sm{
  @apply flex gap-1 items-center flex-wrap;
}